/*Box Border Color - "Lets make Magic"*/
.box-line{
	border-color: #009970;
}
/*JS Word Animation*/
#animation{
	color:#009970;
}
/*Fontawesome Icons*/
.fa{
	color:#009970;
	font-size: medium;
	padding-left: 4px;
	padding-right: 4px;
}

/*Opacity of picture*/
.my-profile .my-pict .overfly {
    background: rgba(255, 255, 255, 0.6);
}

/* Navbar*/
.col-md-6 {
	text-align: center;
}
.menu-area .main-nav >li > a:hover {
    color:#009970;
    }
    
.menu-area.nav-white-bg .main-nav > li > a:hover {
    color: #009970;
	}

/*Intro Text*/
#intro_text{
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 70px;
	text-align: justify;
}
/*Contact Info & Social Media*/

.bg-dark{
 padding-top: 10px;
 padding-bottom: 10px;
 font-size: 12px;
}

.inner-text > h5{
	font-size: medium;
}

.my-profile .my-desc .inner-text {
	display:inline-block;
    max-width: 585px;
    padding:25px;
    }

/*Skills*/

.container-medium {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    }

#skills, .list-education{
	z-index: 4;
	background-color: white;
}

/*Experience & Education*/





/*testimonials*/

.lrgQuote{
	font-style: italic;
	font-size:medium;
}
#quote1, #quote2, #quote3{
	font-style: normal;
	font-size: large;
	letter-spacing: 1.6px;
	line-height: 1.3;
	color: #1a1a1a;
}
