/*Box Border Color - "Lets make Magic"*/
.box-line{
	border-color: #009970;
}
/*JS Word Animation*/
#animation{
	color:#009970;
}
/*Fontawesome Icons*/
.fa{
	color:#009970;
	font-size: large;
	padding-left: 4px;
	padding-right: 4px;
}

/*Opacity of picture*/
.my-profile .my-pict .overfly {
    background: rgba(255, 255, 255, 0.6);
}
/*Greeting on Picture*/

.my-profile .my-pict .overfly .text-botttom{
	text-align: left;
}

h3 {
    letter-spacing: 2px;
    font-size: 1.3em;
}
    
/* Navbar*/
.col-md-6 {
	text-align: center;
}
.menu-area .main-nav >li > a:hover {
    color:#009970;
    }
    
.menu-area.nav-white-bg .main-nav > li > a:hover {
    color: #009970;
	}

/*Intro Text*/
#intro_text{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	margin: 45px;
	border-style: solid;
	border-width: 3px;
	border-color:#009970;
	text-align: justify;
}

/*Contact Info & Social Media*/
.bg-dark{
 font-size: 12px;
}

.inner-text > h5{
	font-size: medium;
}
.sm_profiles{
	position: relative;
	top: -45px;
}
#contact_ttl{
	padding-left: 32px;
}
.xtra_social{
	text-align: center;
}
.my-profile .my-desc .inner-text {
	display:inline-block;
    max-width: 585px;
    padding:25px;
    }

/*Skills*/

.container-medium {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    }

#skills, .list-education{
	z-index: 4;
	background-color: white;
}

/*Experience & Education*/





/*testimonials*/

.lrgQuote{
	font-style: normal;
	font-size:medium;
	min-height: 260px;
}
#quote1, #quote2, #quote3{
	font-style: italic;
	font-size: large;
	letter-spacing: 1.6px;
	line-height: 1.3;
	color: #1a1a1a;
}
